@inject IJustwatchApiService _justWatchService

<div class="card mb-4">
	<div class="row g-0">
		<div class="col-md-4">
			<img src="https://images.justwatch.com/@Title.Content.PosterUrl" class="img-fluid rounded-start"
				 alt="Movie Poster" style="max-width: 150px;">
		</div>
		<div class="col-md-8">
			<div class="card-body">
				<h1 class="card-title">@Title.Content.Title (@Title.Content.OriginalReleaseYear)</h1>
				<p class="card-text">@Title.Content.ShortDescription</p>
			</div>
		</div>
	</div>
</div>

@if (titleOffers != null)
{
	<div class="table-responsive">
		<Grid TItem="TitleOfferViewModel" AllowSorting="true" Class="table table-hover table-bordered table-striped"
			  DataProvider="OffersDataProvider" Responsive="true" AllowFiltering="true">
			<GridColumn TItem="TitleOfferViewModel" HeaderText="Service" PropertyName="PackageClearName" SortKeySelector="item => item.OfferDetails.Type">
				<a href="@context.PackageURL">@context.PackageClearName</a>
			</GridColumn>

			<GridColumn TItem="TitleOfferViewModel" HeaderText="Country" PropertyName="Country" SortKeySelector="item => item.Country">
				@context.Country
			</GridColumn>

			<GridColumn TItem="TitleOfferViewModel" HeaderText="Price" PropertyName="RetailPriceValue" SortKeySelector="item => item.RetailPriceValue">
				@context.RetailPrice
			</GridColumn>
			<GridColumn TItem="TitleOfferViewModel" HeaderText="USD price" PropertyName="NormalizedPrice" SortKeySelector="item => item.NormalizedPrice">
				$@context.NormalizedPrice
			</GridColumn>
			<GridColumn TItem="TitleOfferViewModel" HeaderText="Resolution"
						Filterable="true"
						PropertyName="PresentationType"
						FilterValue="HD"
						SortKeySelector="item => item.PresentationType">
				@context.PresentationType
			</GridColumn>

			<GridColumn TItem="TitleOfferViewModel" HeaderText="Monetization Type"
						PropertyName="MonetizationType"
						SortKeySelector="item => item.MonetizationType">
				@context.MonetizationType
			</GridColumn>
		</Grid>
	</div>
}
else
{
	<div class="d-flex justify-content-center my-4">
		<div class="spinner-border text-primary" role="status">
			<span class="sr-only"></span>
		</div>
	</div>
}

@code {

	[Parameter]
	public required SearchTitlesResponse.TitleNode Title { get; set; }

	private IEnumerable<TitleOfferViewModel>? titleOffers;

	protected override async Task OnInitializedAsync()
	{
		if (Title is null)
			throw new ArgumentNullException(nameof(Title));

		titleOffers = await _justWatchService.GetAllOffers(Title.Id, Title.Content.FullPath);
	}

	private async Task<GridDataProviderResult<TitleOfferViewModel>> OffersDataProvider(GridDataProviderRequest<TitleOfferViewModel> request)
	{
		return await Task.FromResult(request.ApplyTo(titleOffers));
	}
}
